
<mat-toolbar class="navbar">
	<span class="app-title" (click)="router.navigate(['/'])" style="cursor:pointer">Spaces</span>
	<span class="spacer"></span>
	<button mat-button [routerLink]="['/messages']">Messages</button>
	<button mat-icon-button (click)="toggleTheme()">
		<mat-icon>{{ themeService.isDarkMode() ? 'brightness_7' : 'brightness_4' }}</mat-icon>
	</button>
	<button mat-button [routerLink]="['/register']">Register</button>
	<button mat-button [routerLink]="['/login']" *ngIf="!isLoggedIn()">Login</button>
	<button mat-button (click)="logout()" *ngIf="isLoggedIn()">Logout</button>
</mat-toolbar>
