<div class="create-post-card">
	<form (ngSubmit)="createPost()" [formGroup]="postForm">
		<mat-form-field appearance="fill" class="full-width">
			<mat-label>Title</mat-label>
			<input matInput formControlName="title" required />
		</mat-form-field>
		<quill-editor formControlName="content" [styles]="{height: '200px'}"></quill-editor>
		<br/>
		<br/>
		<button mat-raised-button color="primary" type="submit" [disabled]="postForm.invalid">Create Post</button>
	</form>
</div>

<div class="posts-list">
	<ng-container *ngIf="loading$ | async; else postsBlock">
		<mat-progress-bar mode="indeterminate"></mat-progress-bar>
	</ng-container>
	<ng-template #postsBlock>
		<ng-container *ngIf="error$ | async as error">
			<mat-error *ngIf="error">{{ error }}</mat-error>
		</ng-container>
		<mat-card *ngFor="let post of posts$ | async" class="post-card">
			<mat-card-title class="post-header">
				<span>{{ post.title }}</span>
				<button mat-icon-button color="warn" (click)="deletePost(post)" aria-label="Delete post">
					<mat-icon>delete</mat-icon>
				</button>
			</mat-card-title>
			<mat-card-content>
				<quill-view class="quill-content" [content]="post.content" format="html" theme="snow"></quill-view>
				<div class="post-meta">Created: {{ post.createdAt | date:'short' }}</div>
			</mat-card-content>
		</mat-card>
	</ng-template>
</div>
